
  .navbar {
    display: flex;
    gap: 20px; /* spacing between items */
    padding: 10px 20px;
    background-color: #ebf3fc;
    font-weight: bold;
  }

  .navbar a {
    text-decoration: none;
    color: #333;
  }



